body {
	margin: 0px 1em;
}
.clearfix{
  clear: both;
}
#arrows {
	float:left;
	display: inline-block;
	margin-left: 5px;
}
#arrows div {
	margin-bottom:5px;
}
#ekansArea {
	position: relative;
	width: 400px;
	height: 200px;
	display: block;
	/*float:left;*/
}
.hack {
	float:left;
	display: inline-block;
	border: 1px solid;
}
#ekansHead {
	position: absolute;
	background: #000;
	border: 1px solid white;
	display: inline-block;
	z-index:300;
	width: 8px;
	height: 8px;	
}
#bonus_item{
	position: absolute;
	background: green;
	border: 1px solid white;
	display: inline-block;
	width: 8px;
	height: 8px;	
}
.ekansBody {
	position: absolute;
	background: red;
	border: 1px solid white;
	display: inline-block;
	width: 8px;
	height: 8px;	
}
#header {
	background: #f2f2f2;
}
#header h1 {
	margin-top: 0px;
	padding-top: 2em;
}
#footer {
	margin-top: 20em;
	background: #f2f2f2;
}
#footer p {
	border: 1px solid #f2f2f2;
	display: inline-block;
	padding: 2em 1em 2em 1em;
	background: #f2f2f2;
}