.clearfix:before,
.clearfix:after {
  display: inline-block;
  line-height: 0;
  content: "";
  clear: both;
}
.clearfix:after {
  clear: both;
}
#ekansArea {
	position: relative;
	width: 680px;			/*Ezt a szarságot: a border miatt 1px-el tobb kell...*/
	height: 280px;			/*Ezt a szarságot: a border miatt 1px-el tobb kell...*/
	/*border: 1px solid;*/
	display: block;
	/*float:left;*/
}
.hack {
	display: inline-block;
	border: 1px solid;
}
#ekansHead {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #000;
	border: 1px solid white;
	margin-top: 250px;
	margin-left: 450px;
	display: inline-block;
	z-index:300
}
#new_item{
	position: absolute;
	width: 8px;
	height: 8px;
	background: green;
	border: 1px solid white;
	margin-top: 0px;
	margin-left: 100px;
	display: inline-block;
}
.ekansBody {
	position: absolute;
	width: 8px;
	height: 8px;
	background: red;
	margin-top: 0px;
	margin-left: 100px;
	border: 1px solid white;
	display: inline-block;
}
#todo_list {
	position:relative;	
}
#todo_list li {
	margin-top: 1em;
	background: #ddd;	
}