.clearfix{
  clear: both;
}
#arrows {
	float:left;
	display: inline-block;
	margin-left: 5px;
}
#arrows div {
	margin-bottom:5px;
}
#ekansArea {
	position: relative;
	width: 400px;
	height: 200px;
	display: block;
	/*float:left;*/
}
.hack {
	float:left;
	display: inline-block;
	border: 1px solid;
}
#ekansHead {
	position: absolute;
	width: 8px;
	height: 8px;
	background: #000;
	border: 1px solid white;
	display: inline-block;
	z-index:300
}
#bonus_item{
	position: absolute;
	width: 8px;
	height: 8px;
	background: green;
	border: 1px solid white;
	display: inline-block;
}
.ekansBody {
	position: absolute;
	width: 8px;
	height: 8px;
	background: red;
	border: 1px solid white;
	display: inline-block;
}